<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer position="end" class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <app-imagen-perfil></app-imagen-perfil>
    <mat-nav-list class="mat-nav-list-contactos">
      <a mat-list-item href="#">Contacto 1</a>
      <a mat-list-item href="#">Contacto 2</a>
      <a mat-list-item href="#">Contacto 3</a>
      <a mat-list-item href="#">Contacto 4</a>
      <a mat-list-item href="#">Contacto 5</a>
      <a mat-list-item href="#">Contacto 6</a>
      <a mat-list-item href="#">Contacto 7</a>
      <a mat-list-item href="#">Contacto 8</a>
      <a mat-list-item href="#">Contacto 9</a>
      <a mat-list-item href="#">Contacto 10</a>
      <a mat-list-item href="#">Contacto 11</a>
      <a mat-list-item href="#">Contacto 12</a>
      <a mat-list-item href="#">Contacto 13</a>
      <a mat-list-item href="#">Contacto 14</a>
      <a mat-list-item href="#">Contacto 15</a>
      <a mat-list-item href="#">Contacto 16</a>
      <a mat-list-item href="#">Contacto 17</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Room of Legends</span>

      <div class="example-button-row">
        <a mat-flat-button href="#" color="primary" target="_blank">Mi Perfil</a>
        <a mat-flat-button href="#" color="primary" target="_blank">Buscar Duo</a>
        <a mat-flat-button href="#" color="primary" target="_blank">Buscar Team</a>
        <a mat-flat-button href="#" color="primary" target="_blank">Tienda</a>
      </div>

    </mat-toolbar>
    <!-- Add Content Here -->

  </mat-sidenav-content>
</mat-sidenav-container>
