
<mat-divider></mat-divider>
<mat-nav-list class="nav-list-contactos">
    <a mat-list-item href="#">
        <div class="div-perfil-contacto">
            <img class="img-fondo-contacto" src="https://images3.alphacoders.com/132/thumb-1920-1322308.jpeg">
            <img class="img-contacto" src="../../../assets/images/profile3.jpg" alt="Mi foto de perfil">
            <mat-toolbar class="toolbar-nick-contacto" color="warn">Eileen</mat-toolbar>
        </div>
    </a>
    <a mat-list-item href="#">
        <div class="div-perfil-contacto">
            <img class="img-fondo-contacto" src="https://images4.alphacoders.com/129/1293106.png">
            <img class="img-contacto" src="../../../assets/images/profile.jpg" alt="Mi foto de perfil">
            <mat-toolbar class="toolbar-nick-contacto" color="warn">Eileen</mat-toolbar>
        </div>
    </a>
    <a mat-list-item href="#">
        <div class="div-perfil-contacto">
            <img class="img-fondo-contacto" src="https://wallpapers.com/images/hd/peaceful-sky-view-anime-scenery-a28vmq9s05tjpiws.jpg">
            <img class="img-contacto" src="../../../assets/images/profile3.jpg" alt="Mi foto de perfil">
            <mat-toolbar class="toolbar-nick-contacto" color="warn">Eileen</mat-toolbar>
        </div>
    </a>
    <a mat-list-item href="#">
        <div class="div-perfil-contacto">
            <img class="img-fondo-contacto" src="https://images3.alphacoders.com/132/thumb-1920-1322308.jpeg">
            <img class="img-contacto" src="../../../assets/images/profile.jpg" alt="Mi foto de perfil">
            <mat-toolbar class="toolbar-nick-contacto" color="warn">Eileen</mat-toolbar>
        </div>
    </a>
    <a mat-list-item href="#">
        <div class="div-perfil-contacto">
            <img class="img-fondo-contacto" src="https://images3.alphacoders.com/132/thumb-1920-1322308.jpeg">
            <img class="img-contacto" src="../../../assets/images/profile3.jpg" alt="Mi foto de perfil">
            <mat-toolbar class="toolbar-nick-contacto" color="warn">Eileen</mat-toolbar>
        </div>
    </a>
</mat-nav-list>




